<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shop" %></title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag "application" %>
    
    
    <title>ShopList</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div class="nav">
    
        <a class="listshop" href="/"><h1> Список покупок</h1></a>
       
        </div>
    
  
<br>
<br>
    <div class="container">
      <div>
     
          <%= bootstrap_flash %>
          <%= yield %>
        
       
      </div>

      <footer>
       <hr>
        <a href="https://vk.com/dasparion">&copy; Rebrov Pavel</a>
      </footer>

    </div> <!-- /container -->
   
    
  </body>
</html>
